*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252525;
}

.container{
    border: solid 1px #006D38;
}

table{
    color: #ffffff;
    font-size: 15px;
    border-collapse: collapse;
    table-layout: fixed;
}

thead{
    background-color: #006D38;
}

th{
    padding: 5px 15px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px #006D38;
    text-align: center;
}

